<div class="d-flex justify-content-center">
    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Iniciar Seción</h5>
            <form [formGroup]="form" (submit)="onSubmit()">
                @if(errorMessage){
                    <div class="alert alert-danger text-center" role="alert">
                        {{errorMessage}}
                    </div>
                }
                <div class="mb-3 row">
                    <label for="email" class="col-sm-3 col-form-label">Correo Electronico</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo Electronico">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-3 col-form-label">Contraseña</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="password" class="form-control" id="Contraseña" formControlName="Contraseña" placeholder="Contraseña">
                            <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('password','passwordIcon')">
                                <i id="passwordIcon" class="fa-solid fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                  <button type="submit" class="btn btn-success mb-3" [disabled]="form.invalid">Iniciar Seción</button>
                  <a routerLink="/cambioPassword" class="link-primary">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</div>
