<div class="row nav-header">
  @if(isMobile != true){
    <nav class="navbar navbar-lg bg-dark col-3 nav-header1" data-bs-theme="dark">
      <div class="container-fluid col-12 " style="margin-left: 8px;">
          <div class="col-12">
            <img  src="../../../assets/images/Logo.png" class="rounded-circle navbar-brand-logo" alt="...">
            <button class="navbar-toggler ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ms-3" href="#">Menú</a>
          </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header menu1 ">
            <h5 class="offcanvas-title btn-custom" id="offcanvasNavbarLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body menu1">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link btn-custom mb-2" href="#">Pizza</a>
                <a class="nav-link btn-custom mb-2" href="#">Hamburrguesa</a>
                <a class="nav-link btn-custom mb-2" href="#">Hotdog</a>
                <a class="nav-link btn-custom mb-2" href="#">Salchipapa</a>
                <a class="nav-link btn-custom mb-2" href="#">Platos Especiales</a>
                <a class="nav-link btn-custom mb-2" href="#">Linea Mexicana</a>
                <a class="nav-link btn-custom mb-2" href="#">Quesadillas</a>
                <a class="nav-link btn-custom mb-2" href="#">Mazorcada</a>
                <a class="nav-link btn-custom mb-2" href="#">Bebidas</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-dark col-9 nav-header1" data-bs-theme="dark">
      <div class="container-fluid col-sm-12">
          <div class="justify-content-start col-4">
            <form class="d-flex col-12" role="search">
              <input class="me-2 from-search" style="background-color: white;" type="search" placeholder="!Que quieres comer hoy¡" aria-label="Search">
              <button class="btn btn-light rounded-circle" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
          <div class="navbar-brand col-5 d-flex justify-content-end">
            <ul class="navbar-nav d-flex flex-row">
              @if(isLoggedIn){
              <li class="nav-item ms-3">
                <a class="nav-link active" routerLink="dashboard"><i class="fa-solid fa-house"></i> Inicio</a>
              </li>
              <li class="nav-item dropdown ms-3">
                <a class="nav-link dropdown-toggle active link-opacity-50-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-gear"></i> Configuracion
                </a>
                <ul class="dropdown-menu fixed">
                  <li><a class="dropdown-item" routerLink="registarProductos">Registrar Productos</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item ms-3">
              </li>
              <li class="nav-item dropdown ms-3">
                <a class="nav-link dropdown-toggle active link-opacity-50-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-user"></i> @defer (when user) { {{user.name}} }
                </a>
                <ul class="dropdown-menu fixed">
                  <li><p class="dropdown-item">Name: @defer (when user) { {{user.name}} }</p></li>
                  <li><p class="dropdown-item">Email:  @defer (when user) { {{user.email}} }</p></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="cambioPassword"><i class="fa-solid fa-key"></i> Update password</a></li>
                </ul>
              </li>
              <li class="nav-item ms-3">
                <button type="button" class="btn btn-danger" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
              </li>
              }@else {
                <li class="nav-item ms-3">
                  <a class="nav-link active" routerLink="dashboard"><i class="fa-solid fa-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" routerLink="register">Register</a>
                </li>
              }
            </ul>
          </div>
      </div>
    </nav>
  }@else {
    <nav class="navbar navbar-lg bg-dark nav-header1 col-12" data-bs-theme="dark">
      <div class="container-fluid col-12 " style="margin-left: 8px;">
          <div class="col-12 row">
            <div class="col-4 justify-content-start">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="col-8 justify-content-center">
              <a class="navbar-brand ms-3" href="#">Menú</a>
              <img  src="../../../assets/images/Logo.png" class="rounded-circle navbar-brand-logo" alt="...">
            </div>
          </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header menu1">
            <h5 class="offcanvas-title btn-custom" id="offcanvasNavbarLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body menu1">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link btn-custom mb-2" href="#">Pizza</a>
                <a class="nav-link btn-custom mb-2" href="#">Hamburrguesa</a>
                <a class="nav-link btn-custom mb-2" href="#">Hotdog</a>
                <a class="nav-link btn-custom mb-2" href="#">Salchipapa</a>
                <a class="nav-link btn-custom mb-2" href="#">Platos Especiales</a>
                <a class="nav-link btn-custom mb-2" href="#">Linea Mexicana</a>
                <a class="nav-link btn-custom mb-2" href="#">Quesadillas</a>
                <a class="nav-link btn-custom mb-2" href="#">Mazorcada</a>
                <a class="nav-link btn-custom mb-2" href="#">Bebidas</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  }
</div>

<main class="container-fluid col-10 page-body-wrapper mt-5">
    <router-outlet></router-outlet>
</main>
